.menuItem {
  text-align: right;
  background-color: #fff;
}

.navLogo {
  width: 50px;
}

nav {
  background-color: #fff;
}

.howToStyling {
  border: none;
  background: transparent;
  cursor: pointer;
}

button.howToStyling:focus {
  outline: none;
}

