@import url('https://fonts.googleapis.com/css?family=Aleo');

.landingPage {
    /* background:rgba(238, 231, 231, 0.5); */
    padding: 15px;
    border-radius: 15px;
}

.landingRow {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}

.imgText {
    font-size: 36px;
    font-weight: bold;
}


/* .card-img-top {
    margin-top: 10px;
    border: 1px solid #b8b8b8c0;
    border-radius: 4px;
} */

.imgText {
    font-family: 'Aleo', serif;
    font-size: 5rem;
    line-height: 5.5rem;
    text-align: center;
    font-weight: bold;
    color: black;
}

a {
    color: black;
}

.col-lg-4 {
    margin-left: auto;
    margin-right: auto;
}

.card-body {
    margin: 0px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landingPageImage {
    margin-right: auto;
    margin-right:auto;
    width: 100%;
    border-radius: 15px;
    border: 1px gray solid;
}

@media only screen and (min-width: 768px) {
    .imgText {
        font-size: 2rem;
        line-height: 2.5rem;
  }
  .landingRow {
    margin-top: 10rem;
}
  @media only screen and (min-width: 1024px) {
    .imgText {
        font-size: 3rem;
        line-height: 3.5rem;

  }
  .landingRow {
    margin-top: 10rem;
}   
}

}